@charset "UTF-8";
/**
* @prettier
*/
/**
* @prettier
*/
/**
 * @prettier
 */
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
.section__block {
  margin: 3rem 0;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes rotate-cycle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-cycle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes svg-cross {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes svg-cross {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.load-item::after {
  display: block;
  padding: 12%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  opacity: 0;
  will-change: transform;
  contain: strict;
  -webkit-animation: fade-in 0.1s ease-in forwards, rotate-cycle 0.7s cubic-bezier(0.5, 0.4, 0.5, 0.6) 60 forwards, fade-out 0.1s ease-in 38.1818181818s forwards;
  animation: fade-in 0.1s ease-in forwards, rotate-cycle 0.7s cubic-bezier(0.5, 0.4, 0.5, 0.6) 60 forwards, fade-out 0.1s ease-in 38.1818181818s forwards;
  animation-play-state: paused;
  background: url("data:image/svg+xml;charset=utf8,    %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E        %3Cpath stroke='hsla(0, 2.2624434389%25, 43.3333333333%25, 1)' d='M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50' fill='hsla(0, 2.2624434389%25, 43.3333333333%25, 1)'%3E%3C/path%3E    %3C/svg%3E") no-repeat center center;
  width: 50%;
  height: 50%;
  background-size: 50%;
  max-width: 3em;
  max-height: 3em;
}

.load-item::after {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.load-item--success::after {
  display: none;
}
.load-item .load-item__progress {
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
.load-item .load-item__success {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
@media (prefers-reduced-motion) {
  .load-item .load-item__progress, .load-item .load-item__success {
    transition: none;
  }
}
.load-item--failure::after {
  display: block;
  padding: 2%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  opacity: 0;
  -webkit-animation: svg-cross 0.3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation: svg-cross 0.3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  background: url("data:image/svg+xml;charset=utf8,    %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 612 612' preserveAspectRatio='xMidYMid'%3E        %3Cpolygon stroke='none' points='612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397 306,341.411 576.521,611.397 612,575.997 341.459,306.011' fill='hsla(0, 0%25, 14.5098039216%25, 1)'/%3E    %3C/svg%3E") no-repeat center center;
  background-size: 50%;
  width: 50%;
  height: 50%;
  max-width: 2em;
  max-height: 2em;
}

.load-item {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
}
.load-item::before, .load-item::after {
  content: "";
}
.load-item::before {
  display: block;
}
.load-item::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: -1;
}
.load-item > img, .load-item > iframe, .load-item > noscript, .load-item > svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.bg--light picture,
.bg--light [data-src-iframe] {
  background: whitesmoke;
}

.bg--dark {
  background: #0d0d0d;
  color: white;
}
.bg--dark picture,
.bg--dark [data-src-iframe] {
  background: gray;
}

.bg--contrast {
  background: #333333;
  color: white;
}
.bg--contrast picture {
  background: none;
}
.bg--contrast ::selection {
  background: white;
  color: #ff6600;
}
.bg--contrast a:focus,
.bg--contrast button:focus,
.bg--contrast [tabindex="0"]:focus {
  outline-color: white;
}

.copy > * + * {
  margin-top: 1rem;
}

.footer {
  font-size: 1.4rem;
}
.footer__logo {
  margin: auto;
  max-width: 150px;
}
.footer .list {
  margin: 1.5rem auto;
  list-style: none;
  text-align: center;
}
.footer .list > li a {
  padding: 0.25em;
  display: block;
}
.footer .list > li ::before {
  display: none;
}
@media all and (min-width: 992px) {
  .footer .list > li {
    display: inline-block;
    margin: 0.5em 0;
    border-right: 1px solid;
  }
  .footer .list > li a {
    padding: 0em 0.5em;
  }
}
@media all and (max-width: 992px) {
  .footer .list {
    text-align: left;
    column-width: 20em;
    column-rule: 1px solid;
  }
}
.footer .list > li:last-child {
  border: none;
}
.footer__copyright {
  text-align: center;
  font-style: normal;
}
.footer a:not(:focus):not(:hover) {
  text-decoration: none;
}

.list {
  margin-left: 1.5rem;
  list-style: none;
}
.list > li {
  display: list-item;
  break-inside: avoid;
}
.list > li:not(:last-child) {
  margin-bottom: 1rem;
}
.list--bullet > li::before {
  display: inline-block;
  content: "•";
  margin-left: -1em;
  width: 1em;
  height: 1em;
}

.list--square > li::before {
  display: inline-block;
  content: "■";
  margin-left: -1em;
  width: 1em;
  height: 1em;
  margin-left: -1.5em;
  width: 1.5em;
}
.list--square > li::before {
  color: #ff6600;
}

.list--grid {
  column-width: 20em;
  column-rule: 1px solid;
  list-style: none;
  margin: 0 -2em;
  overflow: hidden;
}
.list--grid > li {
  break-inside: avoid;
  margin: 0 2em;
}

#facebox * {
  text-transform: capitalize;
}

.l-controls {
  display: none;
}

.dtm__in .fancybox-stage [class*=button] {
  border: 0;
}
.dtm__in .fancybox-content {
  max-width: 900px;
}
.dtm__in .c-brand--box {
  background: #ff6600;
}

#dtm .dtm__in .c-brand--table th, #dtm .dtm__in .c-brand--table .c-brand--table__th {
  background: #cacac8;
  border-color: #cacac8;
  color: currentColor;
}
@media all and (max-width: 240px) {
  #dtm .dtm__in .c-brand--table tbody td {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 1em;
  }
  #dtm .dtm__in .c-brand--table tbody td::before {
    display: block;
    flex: 1 1 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 0.5em;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
  }
  #dtm .dtm__in .c-brand--table tfoot tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
  }
  #dtm .dtm__in .c-brand--table tfoot td {
    flex: 1 1 100%;
    width: auto;
    border: 0;
    text-align: center;
    padding: 0.5em;
  }
}

.dtm__in {
  background: none;
}

.l-outer {
  max-width: none;
}
.l-outer > .l-outer__in {
  max-width: 1000px;
  margin: auto;
  box-shadow: none;
  border: none;
}
@media all and (max-width: 240px) {
  .l-outer {
    padding: 0;
  }
}

#dtm #paypal-button,
#dtm .zoid-outlet,
#dtm .zoid-component-frame {
  width: 100% !important;
  max-width: 300px;
}

.c-brand--form .checkout-option {
  text-align: left;
  padding: 0 0 1rem;
  overflow: visible;
}
.c-brand--form .checkout-option .label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 0;
}
.c-brand--form .checkout-option__img {
  margin: 0;
}
.c-brand--form .affirm__logo-inline img {
  border: none;
}
.c-brand--form .affirm-checkout--is-hidden {
  display: none;
}

/*# sourceMappingURL=upsell.css.map */
