$select: ".promo-header" !default;
$color: #143893 !default;

@mixin new {
	#{$select} {
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		border: 2px solid $color;
		font-style: normal;
		text-transform: uppercase;

		> * {
			padding: 1rem;
		}

		&__deal {
			flex: 1 1 auto;
			background: $color;
			color: white;
			font-weight: bold;
		}

		&__item {
			flex: 1 1 auto;
			position: relative;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				content: "";
				right: 0;
				bottom: 0;
				margin: auto;
				background: $color;
				opacity: 0.1;
				z-index: -1;
			}
		}

		@content;
	}
}
