$select: ".chart" !default;
$breakpoint: 600px !default;

@mixin new($select: $select, $header-attribute: data-header) {
	#{$select} {
		table {
			display: table;
			width: 100%;
			margin: 0;
			border: 0;
			border-collapse: collapse;
			border-spacing: 0;
			empty-cells: show;
		}

		tr {
			display: table-row;
		}

		th,
		td {
			padding: 1em;
			vertical-align: top;
			line-height: 1.25;
			border: 1px solid #ccc;
		}

		th {
			font-weight: bold;
		}

		td {
			&[scope="row"],
			&[#{$header-attribute}]::before {
				font-weight: bold;
			}
		}

		@media all and (max-width: $breakpoint) {
			flex: 1 1 100%;
			width: 100%;

			&,
			table,
			tbody,
			tfoot,
			tr {
				display: block;
			}

			tr,
			td,
			th {
				margin: 0;
			}

			thead {
				display: none;
			}

			tr {
				&:not(:last-child) {
					margin-bottom: 2rem;
				}
			}

			td {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;

				&:not(:last-child) {
					border-width: 1px 1px 0;
				}

				&[#{$header-attribute}]::before {
					content: attr($header-attribute);
					margin: 0.5em 0.25em;
					> * {
						flex: 0 1 100%;
					}
				}
			}

			p {
				margin: 1em 0.25em;
			}
		}

		@content;
	}
}

@mixin grid {
	#{$select} {
		@media all and (min-width: $breakpoint) {
			th {
				border-top: 0;
			}

			tr {
				&:first-child {
					td {
						border-top: 0;
					}
				}

				&:last-child {
					td {
						border-bottom: 0;
					}
				}
			}

			td,
			th {
				&:first-child {
					border-left: 0;
				}

				&:last-child {
					border-right: 0;
				}
			}
		}

		@media all and (max-width: $breakpoint) {
			td,
			th {
				&:nth-child(1n + 1) {
					border-width: 0 0 1px;
				}

				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}
}
