@use "../../Shared/css/template/dtm/utils/scope";

table {
    display: table;
    width: 100%;
    margin: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;

    th {
        font-weight: bold;
    }

    tr {
        display: table-row;
    }

    td,
    th {
        border: 1px solid #ccc;
        padding: 1em;
    }
}

@include scope.for-mobile {
    .data-table {
        overflow-x: auto;
        box-shadow: inset 0 0 1em white, inset 1em 1em 1em white, inset -0.5em 0 1.5em rgba(0, 0, 0, 0.25);
    
        table {
            overflow: scroll;
            min-width: 50em;
        }
    }
}