@use "../../Shared/css/template/dtm/utils/scope";
@use "../../Shared/css/template/dtm/utils/arp";
@use "../../Shared/css/template/dtm/components/button";
@use "../models/colors";
@use "../models/fonts";
@use "ui-header" as header;

$min-layout: 1100px;
$max-layout: 1040px;

$nav-offset: 55px;

$-form-border-color: #bdbdbd;

@mixin form-legend {
    background: colors.get(third);
    color: colors.get(second);
    padding: 1.25rem;
}

@mixin form-fieldset {
    background: white;
    border: 1px solid $-form-border-color;
}

@mixin form-headline {
    @include fonts.first(2rem) {
        font-weight: 600;
        text-transform: uppercase;
        color: inherit;
    }
}

.group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__row {
        flex: 1 1 100%;

        &:not(:last-of-type):not(.group--form) {
            margin-bottom: 1em;
        }
    }

    &--form {
        margin: 0;
    }

    &--form-product {
        justify-content: center;
        align-items: center;

        .picture {
            flex: 0 1 243px;
            margin: 1rem;
        }
    }
}

@include arp.apply(".picture--form-product > .picture__img", 243/208, 243px) {
    background: none;
}
@include arp.apply(".form__upsell-image", 320/360, 320px);

.form-title {
    text-align: center;
    padding: 2em 0;
    color: colors.get(second);

    &__not-available {
        @include fonts.fourth(2.8em);
        display: block;
        margin-bottom: 0.15em;
    }

    &__fill-out {
        @include fonts.first(1.4em) {
            font-weight: 400;
            text-transform: capitalize;
        }
    }

    &__fill-out strong {
        color: colors.get(third);
        @include fonts.fourth(1em);
    }
}

@include scope.for-mobile {
    .form-title {
        &__not-available {
            font-size: 8vmin;
        }

        &__fill-out {
            font-size: 5vmin;
        }
    }
}

#dtm {
    .c-brand--table {
        th,
        &__th {
            background: #cccccc;
            color: colors.get(second);
        }
    }
}

@include scope.for-mobile {
    @media all and (max-width: 47.5em),
        (max-device-width: 64em) and (min-device-width: 48em) {
        .c-brand--table {
            tbody td {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 1rem;

                &:first-of-type {
                    background: #5a5a5a;
                }

                &::before {
                    position: relative;
                    max-height: none;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

.c-brand--form {
    &__legend {
        @include form-legend;
    }

    &__fieldset {
        @include form-fieldset;
    }

    .button {
        font-size: 2rem;
    }

    &__submission {
        justify-content: center;
    }
}

@include scope.for-template {
    .c-brand--form {
        &__item {
            display: flex;
            flex-wrap: wrap;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }

            > * {
                display: flex;
                flex: 1;
            }
        }

        &__headline {
            @include form-headline;
        }

        .checkout-option {
            padding-left: 0;
            text-align: left;
            flex: 1 1 100%;
            overflow: visible;

            // label {
            //     min-width: 0;
            // }

            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }

            &#divCARD img {
                margin: 1.5rem 2px;
            }

            &__img {
                margin-right: 1rem;
            }
        }

        #CardNumberCt {
            padding-top: 2rem;
            margin-top: 1rem;
            border-top: 1px solid #ccc;
        }

        #paypal-button {
            margin: 0;
            z-index: 1;
        }
    }
}

@include scope.for-desktop {
    .c-brand--form {
        &__label,
        &__cc--label {
            flex: 0 0 8.5em;
            text-align: right;
            justify-content: flex-end;
        }
    }
}

@include scope.for-mobile {
    .c-brand--form {
        &__legend {
            padding: 1rem 2rem;
        }

        &__item {
            flex-direction: column;
        }

        &__headline {
            font-size: 1.8rem;
        }

        .l-disclaimer {
            width: auto;
        }

        .zc {
            width: 100%;
        }
    }

    .view--form {
        [class*="c-brand"] {
            font-size: 1.65rem;

            p {
                font-size: inherit;
            }
        }
    }
}

@include scope.for-mobile {
    .form {
        &__radio {
            margin: 1em 0;
        }
    }
}

@include scope.for-portrait {
    .form {
        &__radio {
            flex: 1 1 100%;
            margin: 0;
        }

        &__or {
            margin: 1em;
        }
    }
}

@include scope.for-desktop {
    .form {
        &__affirm {
            .affirm {
                &__logo-inline {
                    margin-top: -25px;
                }
            }
        }
    }
}

.form {
    position: relative;

    &__affirm-text {
        display: block;
        margin-top: 0.5em;
    }

    &__affirm-text &__affirm {
        display: inline;
    }

    &__or {
        $size: 2em;
        background: #757575;
        color: white;
        width: $size;
        height: $size;
        border-radius: $size;
        display: flex;
        justify-content: center;
        margin: 0 1em;
        align-self: center;
        align-items: center;
        @include fonts.third(0.75em, 1) {
            font-weight: bold;
        }
        text-transform: uppercase;
        padding: 0.25em;
        box-sizing: content-box;
    }

    &__affirm {
        line-height: 1.3;
        display: inline-block;

        @supports (display: inline-flex) {
            display: inline-flex;
        }

        .affirm {
            &__logo-inline {
                display: inline-block;
            }

            &__link {
                display: inline;
            }
        }
    }

    &__radio {
        padding: 1em 1.5em;
        border: 1px solid #bdbcbd;
        border-radius: 0.75em;
        margin: 1em;
        flex: 1 1 15em;
        display: flex;
        align-items: center;
        @include fonts.third(1em, 1);

        &--inline {
            display: inline-flex;
            flex: 0 1 30em;
        }

        &__text {
            margin-left: 1em;
            flex: 1;
            line-height: 1.4;
            display: block;
        }

        &__group {
            flex: 1;
            position: relative;
        }

        &[data-offer-type] {
            opacity: 0;
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
            transform: translateY(15%);
            margin-left: 0;
            margin-top: 1em;

            .form__radio__text:not(:first-child) {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }

            .form__radio__text {
                transition: none;
                opacity: 0;
            }
        }

        &[data-offer-type="single"],
        &[data-offer-type="multi"] {
            opacity: 1;
            transform: translate(0);

            .form__radio__text {
                opacity: 1;
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            }
        }

        &[data-offer-type="single"] {
            .form__radio--multi {
                opacity: 0;
                transform: translateX(10%);
                pointer-events: none;
            }
        }

        &[data-offer-type="multi"] {
            .form__radio--single {
                opacity: 0;
                transform: translateX(10%);
                pointer-events: none;
            }
        }
    }

    &__bg {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        img {
            margin: auto;
        }
    }

    &__item {
        flex: 1 1 480px;
        margin-bottom: 2.5rem;
    }

    &__scroll {
        position: sticky;
        top: $nav-offset;
    }

    &__fieldset {
        @include form-fieldset;
    }

    &__group {
        padding: 2rem;
    }

    &__checkbox {
        margin-bottom: 1.5em;
    }

    fieldset:not(:last-of-type) {
        margin-bottom: 2rem;
    }

    &__field {
        display: flex;
        flex-wrap: wrap;
        flex: 1;

        > input,
        > select,
        > .fld {
            flex: 1;
        }
    }

    &__label {
        text-align: right;
    }

    &__list {
        margin: 0;
    }

    &__submit {
        justify-content: center;
    }

    &__copy {
        flex: 0 1 30em;
    }

    &__upsell-image {
        flex: 0 1 320px;
    }

    &__upsell-image + &__upsell-text {
        flex: 0 1 35em;
    }
}

@include scope.for-template {
    .form {
        &__field {
            &--block {
                > label {
                    flex: 1 1 100%;
                    text-align: left;
                }
            }
        }

        .affirm-checkout--is-hidden {
            display: none;
        }

        &__upsell-text {
            font-size: 1.6rem;
            line-height: 1.45;
            display: flex;
            flex-direction: column;

            p,
            ul {
                font-size: inherit;
            }
        }
    }
}

@include scope.for-desktop {
    .form {
        &__item {
            &:not(:first-child) {
                margin-left: 2.5rem;
            }
        }

        &__field {
            &--block {
                &:not(:first-child):not(:last-child) {
                    margin: 0 2rem;
                }
            }
        }

        &__upsell-bar {
            display: flex;
            flex: 1 1 auto;
        }

        &__upsell-image,
        &__upsell-text {
            margin: 1em 2em;
        }
    }
}

@include scope.for-mobile {
    .form {
        &__field {
            > label {
                flex: 1 1 100%;
                text-align: left;
            }

            &--block {
                flex: 1 1 100%;
            }
        }

        &__upsell-bar {
            flex: 1;
            display: flex;
            order: 1;
        }

        &__item {
            flex: 1 1 100%;
        }

        &__review {
            order: -1;
        }

        &__upsell-image,
        &__upsell-text {
            margin: 1em 0;
        }
    }
}

.element {
    &--is-fixed {
        position: fixed;
        top: 0;
    }

    &--is-absolute {
        position: absolute;
        bottom: 0;
    }
}

#reviewOrder {
    &.element {
        &--is-fixed,
        &--is-absolute {
            width: 507px;
        }

        &--is-fixed {
            top: 55px;
        }

        &--is-absolute {
            bottom: 25px;
        }
    }
}

.group {
    &--form {
        position: relative;
    }

    &--radios {
        justify-content: center;
    }

    &--upsell {
        justify-content: center;
        align-items: center;
    }
}

@include scope.for-desktop {
    .group {
        &--radios {
            max-width: 66em;
            margin: auto;
        }
    }
}
