@use "sass:map";

$list: (
    first: futura-pt,
    second: roboto,
    third: open-sans,
    fourth: futura-pt-bold
);

$-size: 1rem;
$-line-height: 1;

@mixin first ($size: $-size, $line-height: $-line-height) {
    font: #{$size}/#{$line-height} map.get($list, first), sans-serif;
    text-transform: uppercase;
    @content;
}

@mixin second ($size: $-size, $line-height: $-line-height) {
    font: #{$size}/#{$line-height} map.get($list, second), sans-serif;
    @content;
}

@mixin third ($size: $-size, $line-height: $-line-height) {
    font: #{$size}/#{$line-height} map.get($list, third), sans-serif;
    @content;
}

@mixin fourth ($size: $-size, $line-height: $-line-height) {
    font: #{$size}/#{$line-height} map.get($list, fourth), sans-serif;
    @content;
}