$select: ".features" !default;

@use "group";

@mixin new {
	#{$select} {

		&__in {

		}

		&__title {

		}

		&__group {
			display: flex;
			justify-content: space-around;
		}

		&__item {
			background: #f5f5f5;
			border: 2px solid #fff;
			outline: 2px solid #f5f5f5;
			font-size: 1.5rem;
			padding: 1.66em;
			margin: 1.25em;
			img {
				margin: 0 auto;
			}
			&-title {
				text-transform: none;
				text-align: center;
				font-size: 1.66em;
				margin: 0.66em 0;
				> span {
					display: block;
				}
			}
			&-btn {
				margin: 1.33em auto 0;
				text-align: center;
			}
		}

		@media all and (max-width: 800px) {
			&__group {
				flex-wrap: wrap;
			}

			&__item {
				flex-basis: 100%;
				margin: 1em 0;
			}
		}
		
		@content;
	}
}