$select: ".view" !default;
$breakpoint: 1000px !default;

@mixin new {
	@include set-anchor-position();

	#{$select} {
		position: relative;
		z-index: 1;

		&__anchor {
			@supports (position: sticky) {
				position: absolute;
			}
		}

		@content;
	}
}

@mixin set-scroll-position($amount: 0) {
	#{$select} {
		&__scroll {
			position: sticky;
			top: $amount;
		}
	}
}

@mixin set-anchor-position($static-amount: -5.9rem, $dynamic-amount: -5.4rem) {
	#{$select} {
		&__anchor {
			top: $static-amount;

			@media all and (max-width: $breakpoint) {
				top: $dynamic-amount;
			}
		}
	}
}

@mixin zero-anchor-position($parent-select: $select) {
	#{$parent-select} {
		& > #{$select}__anchor {
			top: 0;
		}

		@content;
	}
}

@mixin set-position-context($parent-select: $select, $amount: 6rem) {
	#{$parent-select} {
		margin-top: -#{$amount};

		#{$select} {
			&__offset {
				padding-top: $amount;
			}

			&__flow {
				padding-top: $amount;
				margin-bottom: -#{$amount};
			}
		}

		@content;
	}
}
