@use "../../shared/css/template/dtm/utils/scope";
@use "../../shared/css/template/dtm/utils/arp";
@use "../../shared/css/template/dtm/utils/tailspin";

@use "../templates/dtm";

@use "../themes/colors";
@use "../layouts/queries";

@use "../components/chart";

$select: ".form" !default;
$breakpoint-mini: 200px !default;
$breakpoint-small: 240px !default;
$border-color: currentColor !default;
$color-valid: green !default;
$color-invalid: #c00 !default;

$color-checkbox-foreground: green !default;
$color-checkbox-background: white !default;

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace +
            str-replace(
                str-slice($string, $index + str-length($search)),
                $search,
                $replace
            );
    }

    @return $string;
}

@function convert-to-hex($color) {
    @return str-replace("#{$color}", "#", "%23");
}

@mixin template {
    @include dtm.form;
    @include dtm.eflex-checkmark;

    @include scope.for-template(".dtm__in", ".dtm") {
        @include dtm.review-table;
        @include dtm.express-checkout;
    }
}

@mixin summary-review {
    @include chart.new(
        "#{$select}__summary-review",
        data-eflex--category-label
    ) {
        th {
            background: colors.$table-header-background;
        }

        td {
            background: colors.$table-body-background;
            justify-content: space-between;
            vertical-align: middle;

            &:not(:first-child):not(:last-child) {
                text-align: center;
            }

            &:last-child {
                text-align: right;
            }
        }

        tr:nth-child(1n + 1) {
            margin: 0;
        }

        @media all and (max-width: chart.$breakpoint) {
            label[for="zc"] {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                flex: 1;

                input {
                    flex: 0 1 200px;
                }
            }
        }
    }
}

@mixin new {
    @include arp.apply(
        "[data-src-img='/shared/images/PositiveSSL_tl_trans.png']",
        1/1,
        108px
    ) {
        margin: auto;
    }

    #{$select} {
        $gap: 2rem;

        &__accent {
            color: colors.$first;
        }

        @media all and (max-width: $breakpoint-small) {
            overflow: hidden;
        }

        &__in {
            padding: 2rem;

            @media all and (max-width: $breakpoint-mini) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &__section {
            flex: 1 1 24em;
            margin: #{$gap};
        }

        &__abbr {
            display: block;
            text-align: center;

            > abbr {
                color: #c00;
                border: 0;
                text-decoration: none;
            }
        }

        &__vse {
            .validation-summary-errors {
                border: 2px solid #c00;
                padding: 1rem;
                margin-bottom: 2rem;

                ul {
                    margin-top: 0.5rem;
                }
            }
        }

        &__row {
            flex: 1 1 100%;
            margin: 0 #{$gap} #{$gap};
        }

        &__group {
            margin: 0 -#{$gap};

            @media all and (min-width: $breakpoint-small) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            &--item {
                $gap: 0.5rem;

                margin: -#{$gap};
                align-items: center;

                > #{$select} {
                    &__item {
                        flex: 1 1 150px;
                        margin: #{$gap};
                    }
                }
            }
        }

        &__border {
            border: 1px solid;
        }

        &__fieldset {
            padding: 1rem;
            list-style: none;
            margin: 0;
            overflow: hidden;

            > hr:first-child {
                margin-top: 0;
            }
        }

        &__field {
            label {
                font-weight: bold;
            }

            abbr {
                color: colors.$second;
            }

            &:not(:first-child) {
                margin-top: 1rem;
            }
        }

        &__checkbox {
            display: flex;
            padding: 1rem;

            > svg {
                margin: 0;
            }

            > span {
                margin: 1rem;
            }

            @media all and (max-width: $breakpoint-small) {
                display: flex;
                flex-wrap: wrap;

                > span {
                    margin-left: 0;
                    margin-right: 0;
                    padding: 0;
                }
            }
        }

        &__submit {
            text-align: center;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__disclaimer {
            flex: 1 1 100%;
        }

        input:not([type="checkbox"]):not([type="radio"]),
        select {
            border-color: #ccc;
            border-style: solid;
            border-width: 2px;
            border-radius: 0.5rem;

            padding: 1rem;
            -webkit-appearance: none;
            font-size: 16px;
        }

        select {
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjEiIHdpZHRoPSIyOCIgdmlld0JveD0iMCAwIDExLjUgMTkuMiI+CjxnIGZpbGw9IiM4NDdDNzciPgogIDxwb2x5Z29uIHBvaW50cz0iMTAuNCwxMS43IDUuOCwxOC43IDEsMTEuNiIvPgogIDxwb2x5Z29uIHBvaW50cz0iMS4xLDcuOSA1LjcsMC45IDEwLjUsOCIvPgo8L2c+Cjwvc3ZnPgo=)
                    right center no-repeat,
                white;
            background-size: 1.25em;
            min-width: 4em;
        }
    }
}

@mixin checkbox($size: 2rem) {
    #{$select} {
        &__checkbox-label {
            display: inline-flex;
            flex-wrap: wrap;
            align-items: flex-start;

            #{$select}__label {
                display: flex;
            }

            input[type="checkbox"],
            input[type="radio"] {
                opacity: 0;
                position: absolute;
                padding: 0;

                &:checked ~ #{$select}__checkbox,
                &:checked ~ #{$select}__label > #{$select}__checkbox {
                    background-image: url("data:image/svg+xml;charset=utf8,\
                        %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E\
                            %3Cpath fill='none' stroke-width='6px' stroke='#{convert-to-hex($color-checkbox-foreground)}' d='M1.73,12.91 8.1,19.28 22.79,4.59'%3E%3C/path%3E\
                        %3C/svg%3E");
                    background-size: 0.9em 0.9em;
                    background-repeat: no-repeat;
                    background-position: center;
                    font-size: 1.5rem;
                    background-color: $color-checkbox-background;
                    color: $color-checkbox-foreground;
                }

                &:not(:checked) ~ #{$select}__expando {
                    display: none;
                }

                ~ #{$select}__checkbox,
                ~ #{$select}__label > #{$select}__checkbox {
                    margin-right: 1rem;
                }

                &:focus ~ #{$select}__checkbox,
                &:focus ~ #{$select}__label > #{$select}__checkbox {
                    outline: 3px solid;
                }
            }
        }

        &__checkbox {
            display: block;
            -webkit-appearance: none;
            border: 1px solid $border-color;
            border-radius: 0.5rem;
            background: white;
            font-family: inherit;
            font-size: inherit;

            width: #{$size};
            height: #{$size};
            flex: 0 0 #{$size};
            padding: 0;
            box-sizing: content-box;

            position: relative;
        }
    }
}
