$dark: #0d0d0d;
$light: white;

$first: #ff6600;
$second: #333333;
$third: #c3cf21;
$fourth: #d10d0d;
$fifth: #ee0000;
$sixth: #869000;
$seventh: #59611d;
$eighth: #c1d42f; // form headers

$header-background: linear-gradient(#eee, #fff, #eee);

$table-header-background: #cacac8;
$table-body-background: #f9f9f9;
